.heading {
    color: #022345 !important;
    font-size: 80px !important;
    font-family: 'Heading' !important;
    letter-spacing: normal;
    text-align: center;
}

.heading-icon {
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url(../images/Introduction/circle2.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

@keyframes rotate {
    50% {transform: rotate(180deg);}
}

@media (max-width : 768px) {
    .heading {
        font-size: 50px !important;
    }
    .heading-icon {
        height: 100px;
        width: 100px;
    }
    
}