.history {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: block;
}
h1 {
    color: #002245;
    font-family: "Heading" !important;
    position: relative;
    text-align: center;
    margin: 3%;
}

p {
    text-align: left;
}

.container {
    font-family: "Para" !important;
    line-height: 29.02px;
    font-size: small;
    text-align: center;
    font-size: 20px;
    color: #002245;
    width: 100%;
}

.img {
    width: 100%;
}

.sub-container {
    display: flex;
    margin: 0%;
    width: 100%;
    margin-bottom: 8%;
}

.container_img {
    width: 50%;
}

.container_text {
    width: 50%;
}

.book-image {
    width: 50%;
}

@media screen and (max-width: 576px) {
    .sub-container {
        display: block;
    }
}
