.sub-container{
    margin-bottom: 5vh;
}

.sub-heading{
    color: #022345 !important;
    font-size: 24px;
    font-family: 'Heading' !important;
    letter-spacing: normal;
    margin-top: 3vh;
    margin: 0;
}

.underline{
    border-top: 2px solid  #717274 ;
    margin-bottom: 3vh;
}

.books{
    display: flex;
}

.book-card{
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 200px;
    height: 240px;
}

.book-name{
    color: #022345 !important;
    font-size: 20px;
    font-family: 'Para' !important;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
}

.book-year{
    color: #022345 !important;
    font-size: 16px;
    font-family: 'Source' !important;
    letter-spacing: normal;
    text-align: center;
    margin: 0;

}

.book-img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.book-modal{
    border: none !important;
}

.boxStyle{
    transition-duration: 5s;
    border-radius: 5px;
    width: 40vw;
    height: 60vh;
    border: none !important;
    display: flex;
    padding: 0;
    background-color: white;
}

.left{
    flex: 70% !important;
    width: 100%;
}

.right{
    flex: 30%;
    padding-left: 20px;
    width: 100%;
}

.popup-book-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-book-name{
    color: #022345 !important;
    font-size: 24px;
    font-family: 'Heading' !important;
    letter-spacing: normal;
    margin: 10vh 0 0 0;
}

.popup-book-year{
    color: #022345 !important;
    font-size: 20px;
    font-family: 'Source' !important;
    letter-spacing: normal;
    margin: 0;
}

.popup-book-description{
    color: #022345 !important;
    font-size: 16px;
    font-family: 'Para' !important;
    letter-spacing: normal;
    margin: 20px 0 0 0; 
    width: 96%;
}

.read-button{
    background-color: white;
    color: #022345;
    font-size: 16px;
    font-family: 'Para' !important;
    letter-spacing: normal;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 96%;
    border: #022345 1px solid;
}

.read-button:hover{
    transform: scale(1.02);
   transition-duration: 1s;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.download-button{
    background-color: #022345;
    color: white;
    font-size: 16px;
    font-family: 'Para' !important;
    letter-spacing: normal;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 10px;
    width: 96%;
}

.download-button:hover{
   transform: scale(1.02);
   transition-duration: 1s;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}