.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.left{
    flex:50%;
}

.cover-text{
    color: #022345 !important;
    font-size: 30px;
    font-family: 'Para' !important;
    letter-spacing: normal;
    text-align: center;
    margin-top: 3vh;
}

.right{
    flex:50%;
}

.cover-img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}