.score-landing-container-div {
    padding-bottom: 2rem;
}

.score-landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-heading1 {
    color: #022345 !important;
    font-size: 50px;
    font-family: 'Heading' !important;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.5;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.score-container {
    display: flex;
    background-color: #E3E7EB;
    padding: 50px;
    height: 100%;
}

.score-icon {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.score-text {
    color: #022345 !important;
    font-size: 32px;
    font-family: Para;
}

.score-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.score-row {
    flex: 1;
    display: flex;
    align-items: center;
}

.score-row-margin {
    margin-bottom: 50px;
}

.score-row-center {
    justify-content: center;
}

@media (max-width: 768px) {
    .score-container {
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
    }

    .score-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
}
